@charset "UTF-8";
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
:root {
  /* 색상코드 */
  --color-background: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;
  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;
  --font-default: 400;
  --font-bold: 700;
  --default-border: #26424a;
  --border-radius: 0.5rem;
}

body {
  background: white;
}

.filter-section {
  margin-top: 7rem;
}
.filter-section .title {
  padding-bottom: 1rem;
}

.filter-wrap {
  width: 100%;
  max-width: 1400px;
  margin: 1rem auto;
  padding: 1rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
  z-index: 10;
}
.filter-wrap > div {
  display: flex;
  align-items: center;
}
.filter-wrap .tag-title strong {
  font-size: 1.25rem;
}
.filter-wrap ul {
  display: flex;
  gap: 0.8rem;
  padding: 0.5rem;
  flex-wrap: wrap;
}
.filter-wrap ul li a {
  display: block;
  width: auto;
  height: auto;
  border-radius: var(--border-radius);
  padding: 0.25rem 0.6rem 0.25rem 0.6rem;
  font-size: var(--font-middle-size);
  background-color: var(--color-background);
}
.filter-wrap ul .filter-reset {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/iconmonstr-reload-lined.svg);
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}
.filter-wrap .search-wrap {
  justify-content: flex-start !important;
  width: 50%;
}
.filter-wrap .search-wrap > input {
  width: 80% !important;
  margin: 0 !important;
}
.filter-wrap div {
  padding: 0.5rem;
  position: relative;
}
.filter-wrap div input {
  display: flex;
  margin: 0 auto;
  width: 60%;
  height: 2.5rem;
  border: none;
  border-radius: var(--border-radius);
  background: var(--color-background);
  padding: 0.5rem 1rem;
  position: relative;
}
.filter-wrap div .search-btn {
  position: absolute;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/iconmonstr-magnifier-lined.svg);
  width: 1.4rem;
  height: 1.4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  right: calc(20% + 1.5rem);
  transform: translateY(-50%);
  cursor: pointer;
}

.division-wrap {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 0 auto;
}
.division-wrap ul {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.division-wrap ul li button {
  font: var(--font-bold);
  font-size: var(--font-large-size);
}
.division-wrap ul li button .card-icon,
.division-wrap ul li button .list-icon {
  background: white;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}
.division-wrap ul li button .card-icon {
  background-image: url(../../assets/icons/iconmonstr-layout-table-lined.svg);
}
.division-wrap ul li button .list-icon {
  background-image: url(../../assets/icons/iconmonstr-list-lined.svg);
}

.content-list {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.content-link {
  cursor: pointer;
}
.content-link .content-wrap {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 1400px;
  border-radius: var(--border-radius);
  border: 0.5px solid gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto 0.4rem;
  background-color: white;
}
.content-link .content-wrap .content-header {
  display: flex;
}
.content-link .content-wrap .content-header .left-group,
.content-link .content-wrap .content-header .right-group {
  display: flex;
  gap: 0.5rem;
}
.content-link .content-wrap .content-header .left-group {
  width: 80%;
}
.content-link .content-wrap .content-header .left-group .title {
  margin-top: 0.1rem;
  font-weight: var(--font-bold);
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-link .content-wrap .content-header .left-group .field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: var(--font-middle-size);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--default-border);
  color: var(--color-background);
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-link .content-wrap .content-header .right-group {
  width: 20%;
  justify-content: flex-end;
}
.content-link .content-wrap .content-header .right-group .type {
  width: 35%;
  text-align: center;
  font-size: var(--font-small-size);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  color: var(--default-border);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-link .content-wrap .content-header .right-group .d-day {
  width: 35%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-small-size);
  border: none;
  border-radius: 8px;
  background-color: var(--color-orange);
  color: var(--color-background);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-link .content-wrap .content-summary {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-middle-size);
  color: var(--font-basic-color);
}
.content-link .content-wrap .content-summary p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-link .content-wrap .content-footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small-size);
}
.content-link .content-wrap .content-footer .left-group,
.content-link .content-wrap .content-footer .right-group {
  display: flex;
  gap: 1.25rem;
}
.content-link .content-wrap .content-footer .left-group .writer,
.content-link .content-wrap .content-footer .right-group .writer {
  color: rgb(200, 199, 199);
}
.content-link .content-wrap .content-footer .left-group {
  width: 50%;
}
.content-link .content-wrap .content-footer .right-group {
  width: 50%;
  display: flex;
  justify-content: right;
}
.content-link .content-wrap .content-footer .right-group .comment,
.content-link .content-wrap .content-footer .right-group .scrap {
  min-width: 2.5rem; /* 최소 너비 확보 */
  flex-shrink: 0; /* 너무 작아지지 않도록 */
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
  align-items: center;
}
.content-link .content-wrap .content-footer .right-group .comment {
  width: 20%;
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.content-link .content-wrap .content-footer .right-group .comment i {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/icons/iconmonstr-speech-bubble-comment-thin.svg);
  width: 1rem;
  height: 1rem;
}
.content-link .content-wrap .content-footer .right-group .scrap {
  gap: 0.4rem;
  align-items: center;
}
.content-link .content-wrap .content-footer .right-group .scrap i {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/iconmonstr-heart-lined.svg);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.page-num {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
.page-num ul {
  display: flex;
  gap: 0.8rem;
  margin: 0 auto;
  flex-wrap: wrap;
}
.page-num ul li {
  background-color: white;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-background);
  text-align: center;
  line-height: 2rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
}
.page-num ul li i {
  background-color: white;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-background);
  text-align: center;
  line-height: 2rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
}
.page-num ul .left-arrow {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../../assets/icons/iconmonstr-angel-left-thin.svg);
  cursor: pointer;
}
.page-num ul .right-arrow {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../../assets/icons/iconmonstr-angel-right-thin.svg);
  align-items: center;
  cursor: pointer;
}

.btn-wrap {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* 버튼 간 간격 */
  z-index: 1000;
}
.btn-wrap .write-btn,
.btn-wrap .top-btn {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  cursor: pointer;
}
.btn-wrap .write-btn {
  background-color: var(--color-orange);
  background-image: url(../../assets/icons/iconizer-iconmonstr-pencil-lined.svg);
}
.btn-wrap .top-btn {
  background-color: #26424a;
  background-image: url(../../assets/icons/iconmonstr-arrow-66-240.png);
}

.btn-active {
  background-color: var(--color-orange) !important;
  color: white;
}

.search-filter-active {
  background-color: var(--color-orange) !important;
  color: white;
  font-size: var(--font-small-size);
  border-color: var(--color-orange) !important;
}

.scrap-active {
  background-image: url(../../assets/icons/iconizer-iconmonstr-heart-filled.svg) !important;
  background-size: contain; /* 추가 */
}

.strong {
  font-weight: var(--font-bold) !important;
}

.point {
  color: var(--color-orange);
}

.card-view {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  flex-wrap: wrap;
  gap: 1.25rem;
  box-sizing: border-box;
  overflow-x: hidden;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.card-content-link {
  display: block;
  cursor: pointer;
  border-radius: 8px;
  border: 0.5px solid gray;
  background-color: white;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 10rem;
}
.card-content-link .content-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-content-link .content-wrap .content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.1rem;
  flex-wrap: wrap;
}
.card-content-link .content-wrap .content-header .field {
  width: 45%;
  font-size: var(--font-small-size);
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  background-color: var(--default-border);
  color: var(--color-background);
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-content-link .content-wrap .content-header .type {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-small-size);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  color: var(--default-border);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-content-link .content-wrap .content-header .d-day {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--font-small-size);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-orange);
  color: var(--color-background);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-content-link .content-wrap .content-title .title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-content-link .content-wrap .content-summary p {
  font-size: var(--font-small-size);
  color: var(--font-basic-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-content-link .content-wrap .content-footer {
  width: 100%;
  display: flex;
  border-top: 1px solid var(--color-background);
}
.card-content-link .content-wrap .content-footer .left-group,
.card-content-link .content-wrap .content-footer .right-group {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  font-size: var(--font-small-size);
}
.card-content-link .content-wrap .content-footer .left-group .writer {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-content-link .content-wrap .content-footer .right-group {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}
.card-content-link .content-wrap .content-footer .right-group i,
.card-content-link .content-wrap .content-footer .right-group span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-content-link .content-wrap .content-footer .comment {
  display: flex;
  justify-content: right;
  gap: 5px;
}
.card-content-link .content-wrap .content-footer .comment i {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/icons/iconmonstr-speech-bubble-comment-thin.svg);
  width: 1rem;
  height: 1rem;
}
.card-content-link .content-wrap .content-footer .scrap {
  display: flex;
  gap: 5px;
}
.card-content-link .content-wrap .content-footer .scrap i {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/iconmonstr-heart-lined.svg);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .filter-section {
    margin-top: 4rem;
  }
  .filter-wrap {
    width: 100%;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
  .filter-wrap > div {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-wrap .search-wrap {
    position: relative;
    justify-content: flex-start !important;
    width: 100%;
  }
  .filter-wrap .search-wrap > input {
    width: 100% !important;
    margin: 0 !important;
  }
  .filter-wrap .search-wrap .search-btn {
    top: 40% !important;
    transform: translateY(-50%);
    right: 1rem !important;
  }
  .filter-wrap .tag-title strong {
    font-size: 1rem;
  }
  .filter-wrap ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
  }
  .filter-wrap ul li {
    width: 100%;
    text-align: center;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    font-size: 1rem;
  }
  .filter-wrap ul li a {
    padding: 0.25rem 0.4rem 0.25rem 0.4rem !important;
  }
  .filter-wrap ul .reset-wrap {
    background-color: white;
  }
  .filter-wrap ul i {
    width: 1rem;
    height: 1rem;
  }
  .filter-wrap div {
    padding: 5px;
  }
  .filter-wrap div input {
    width: 95%;
    height: 2.5rem;
  }
  .filter-wrap div i {
    right: 10%;
    width: 1.2rem;
    height: 1.2rem;
  }
  .division-wrap {
    width: 100%;
    display: none;
  }
  .division-wrap ul {
    display: grid;
    flex-wrap: wrap;
  }
  .division-wrap ul li button .card-icon,
  .division-wrap ul li button .list-icon {
    display: none;
  }
  .content-list {
    width: 95%;
  }
  .content-wrap .content-header {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .content-wrap .content-header .left-group {
    width: 100% !important;
    justify-content: space-between !important;
  }
  .content-wrap .content-header .left-group .field {
    display: none !important;
  }
  .content-wrap .content-header .right-group {
    width: 100% !important;
    display: flex !important;
    justify-content: flex-end !important;
  }
  .content-wrap .content-header .right-group .type {
    display: none !important;
  }
  .content-wrap .content-header .right-group .d-day {
    width: 20% !important;
    display: inline-block;
    padding: 0.2rem;
  }
  .content-wrap .content-summary,
  .content-wrap .content-footer {
    width: 95%;
    display: flex;
    gap: 0.3rem;
    font-size: var(--font-xs-size);
  }
  .content-wrap .content-summary p,
  .content-wrap .content-footer p {
    width: 100%;
  }
  .content-wrap .content-summary .left-group,
  .content-wrap .content-summary .right-group,
  .content-wrap .content-footer .left-group,
  .content-wrap .content-footer .right-group {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.6rem;
  }
  .content-wrap .content-footer .comment i {
    width: 0.875rem !important;
    height: 0.875rem !important;
  }
  .content-wrap .content-footer .scrap i {
    width: 0.875rem;
    height: 0.875rem;
  }
  .page-num {
    width: 95%;
  }
  .page-num ul {
    gap: 0.4rem;
  }
  .page-num ul li {
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: var(--font-xs-size);
  }
  .page-num ul li i {
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: var(--font-xs-size);
  }
  .selected-conditions {
    padding: 0.3rem;
  }
  .selected-conditions .reset-wrap {
    background: white !important;
  }
}