@charset "UTF-8";
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
:root {
  /* 색상코드 */
  --color-background: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;
  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;
  --font-default: 400;
  --font-bold: 700;
  --default-border: #26424a;
  --border-radius: 0.5rem;
}

.wrap {
  background-color: white;
}

.basic-info-section {
  padding-top: 7rem;
  background-color: white;
}

.basic-info-wrap {
  background-color: white;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
  padding: 0 0 1rem 0;
}
.basic-info-wrap .basic-title-wrap {
  font-weight: var(--font-bold);
  font-size: var(--font-large-size);
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
  max-width: 1400px;
}
.basic-info-wrap .type {
  border-top: 2px solid var(--color-background);
  padding: 1rem 0 1rem 0;
}
.basic-info-wrap .type input {
  width: 2rem;
}
.basic-info-wrap .type-detail {
  width: 100%;
  display: flex;
  gap: 5rem;
  padding-bottom: 0.5rem;
}
.basic-info-wrap .type-detail .main-type, .basic-info-wrap .type-detail .sub-type {
  width: 100%;
}
.basic-info-wrap .type-detail .main-type .main-type-main, .basic-info-wrap .type-detail .main-type .sub-type-main, .basic-info-wrap .type-detail .sub-type .main-type-main, .basic-info-wrap .type-detail .sub-type .sub-type-main {
  width: 100%;
  position: relative;
}
.basic-info-wrap .type-detail .main-type .main-type-main .title, .basic-info-wrap .type-detail .main-type .sub-type-main .title, .basic-info-wrap .type-detail .sub-type .main-type-main .title, .basic-info-wrap .type-detail .sub-type .sub-type-main .title {
  padding-bottom: 0.5rem;
}
.basic-info-wrap .type-detail .main-type .main-type-main li:first-child, .basic-info-wrap .type-detail .main-type .sub-type-main li:first-child, .basic-info-wrap .type-detail .sub-type .main-type-main li:first-child, .basic-info-wrap .type-detail .sub-type .sub-type-main li:first-child {
  width: 100%;
}
.basic-info-wrap .type-detail .main-type .main-type-main li:first-child a, .basic-info-wrap .type-detail .main-type .sub-type-main li:first-child a, .basic-info-wrap .type-detail .sub-type .main-type-main li:first-child a, .basic-info-wrap .type-detail .sub-type .sub-type-main li:first-child a {
  color: black;
  font-weight: var(--font-bold);
}
.basic-info-wrap .type-detail .main-type .main-type-main li:nth-child(2), .basic-info-wrap .type-detail .main-type .sub-type-main li:nth-child(2), .basic-info-wrap .type-detail .sub-type .main-type-main li:nth-child(2), .basic-info-wrap .type-detail .sub-type .sub-type-main li:nth-child(2) {
  width: 100%;
}
.basic-info-wrap .type-detail .main-type .main-type-main li:nth-child(2) a, .basic-info-wrap .type-detail .main-type .sub-type-main li:nth-child(2) a, .basic-info-wrap .type-detail .sub-type .main-type-main li:nth-child(2) a, .basic-info-wrap .type-detail .sub-type .sub-type-main li:nth-child(2) a {
  display: block;
  width: 100%;
  max-width: 25rem;
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  border: 1px solid rgb(200, 199, 199);
  border-radius: 8px;
  font-size: var(--font-small-size);
  color: rgb(200, 199, 199);
  white-space: nowrap; /* 줄바꿈 안 함 */
  overflow: hidden; /* 넘친 부분 숨김 */
  text-overflow: ellipsis; /* ... 처리 */
}
.basic-info-wrap .type-detail .main-type .main-type-main .main-type-sub, .basic-info-wrap .type-detail .main-type .main-type-main .sub-type-sub, .basic-info-wrap .type-detail .main-type .sub-type-main .main-type-sub, .basic-info-wrap .type-detail .main-type .sub-type-main .sub-type-sub, .basic-info-wrap .type-detail .sub-type .main-type-main .main-type-sub, .basic-info-wrap .type-detail .sub-type .main-type-main .sub-type-sub, .basic-info-wrap .type-detail .sub-type .sub-type-main .main-type-sub, .basic-info-wrap .type-detail .sub-type .sub-type-main .sub-type-sub {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  background: white;
  left: 0;
  height: 10rem;
  width: 100%;
  border: 1px solid rgb(200, 199, 199);
  border-radius: 8px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  z-index: 100;
  overflow-y: scroll;
  cursor: pointer;
  font-size: var(--font-small-size);
}
.basic-info-wrap .period-wrap {
  display: flex;
  gap: 5rem;
  padding-top: 0.5rem;
}
.basic-info-wrap .period-wrap .start-date-wrap, .basic-info-wrap .period-wrap .end-date-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.basic-info-wrap .period-wrap .start-date-wrap label, .basic-info-wrap .period-wrap .end-date-wrap label {
  padding-bottom: 0.5rem;
  color: black;
  font-weight: var(--font-bold);
}
.basic-info-wrap .period-wrap .start-date-wrap input, .basic-info-wrap .period-wrap .end-date-wrap input {
  display: block;
  width: 100%;
  max-width: 25rem;
  height: 2rem;
  line-height: 2rem;
  padding-left: 5px;
  color: rgb(200, 199, 199);
  border: 1px solid rgb(200, 199, 199);
  border-radius: 8px;
}

.recruitment-info-wrap {
  background-color: white;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
  padding: 1rem 0 1rem 0;
}
.recruitment-info-wrap .recruitment-title-wrap {
  background-color: white;
  width: 100%;
  text-align: left;
  padding: 0.5rem 0 0.5rem 0;
}
.recruitment-info-wrap .recruitment-title-wrap .recruitment-title {
  font-weight: var(--font-bold);
  font-size: var(--font-large-size);
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
  max-width: 1400px;
}
.recruitment-info-wrap .recuritment-wrap {
  width: 100%;
  border-top: 2px solid var(--color-background);
  padding: 10px 0 20px 0;
  display: flex;
  gap: 5rem;
}
.recruitment-info-wrap .recuritment-wrap .recruitment-end-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.recruitment-info-wrap .recuritment-wrap .recruitment-end-wrap label {
  padding-bottom: 0.5rem;
  color: black;
  font-weight: var(--font-bold);
}
.recruitment-info-wrap .recuritment-wrap .recruitment-end-wrap input {
  display: block;
  width: 100%;
  max-width: 25rem;
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  color: rgb(200, 199, 199);
  border: 1px solid rgb(200, 199, 199);
  border-radius: 8px;
  font-size: var(--font-small-size);
}
.recruitment-info-wrap .recuritment-wrap .recruitment-age-group-wrap {
  display: flex;
  gap: 5rem;
  padding-bottom: 0.5rem;
  width: 50%;
}
.recruitment-info-wrap .recuritment-wrap .recruitment-age-group-wrap .age-group-main {
  width: 100%;
  position: relative;
}
.recruitment-info-wrap .recuritment-wrap .recruitment-age-group-wrap .age-group-main .title {
  padding-bottom: 0.5rem;
}
.recruitment-info-wrap .recuritment-wrap .recruitment-age-group-wrap .age-group-main li:first-child a {
  color: black;
  font-weight: var(--font-bold);
}
.recruitment-info-wrap .recuritment-wrap .recruitment-age-group-wrap .age-group-main li:nth-child(2) a {
  display: block;
  width: 100%;
  max-width: 25rem;
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  border: 1px solid rgb(200, 199, 199);
  border-radius: 8px;
  font-size: var(--font-small-size);
  color: rgb(200, 199, 199);
  white-space: nowrap; /* 줄바꿈 안 함 */
  overflow: hidden; /* 넘친 부분 숨김 */
  text-overflow: ellipsis; /* ... 처리 */
}
.recruitment-info-wrap .recuritment-wrap .recruitment-age-group-wrap .age-group-main .age-group-sub {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  background: white;
  left: 0;
  width: 100%;
  border: 1px solid rgb(200, 199, 199);
  border-radius: 8px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  z-index: 100;
  overflow-y: scroll;
  cursor: pointer;
  font-size: var(--font-small-size);
}
.recruitment-info-wrap .recruitment-count-wrap .recruitment-count-detail-wrap {
  display: flex;
  gap: 5rem;
}
.recruitment-info-wrap .recruitment-count-wrap .recruitment-count-detail-wrap .recruitment-role, .recruitment-info-wrap .recruitment-count-wrap .recruitment-count-detail-wrap .recruitment-count {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}
.recruitment-info-wrap .recruitment-count-wrap .recruitment-count-detail-wrap .recruitment-role span, .recruitment-info-wrap .recruitment-count-wrap .recruitment-count-detail-wrap .recruitment-count span {
  padding-bottom: 0.5rem;
}
.recruitment-info-wrap .recruitment-count-wrap .recruitment-count-detail-wrap .recruitment-role label, .recruitment-info-wrap .recruitment-count-wrap .recruitment-count-detail-wrap .recruitment-count label {
  padding-bottom: 0.5rem;
  color: black;
  font-weight: var(--font-bold);
}
.recruitment-info-wrap .recruitment-count-wrap .recruitment-count-detail-wrap .recruitment-role input, .recruitment-info-wrap .recruitment-count-wrap .recruitment-count-detail-wrap .recruitment-count input {
  display: block;
  width: 100%;
  max-width: 25rem;
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  color: rgb(200, 199, 199);
  border: 1px solid rgb(200, 199, 199);
  border-radius: 8px;
  font-size: var(--font-small-size);
}
.recruitment-info-wrap .recruitment-count-wrap .recruitment-count-detail-btn {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}
.recruitment-info-wrap .recruitment-count-wrap .recruitment-count-detail-btn button {
  background: var(--color-background);
  width: 4rem;
  height: 2rem;
  border: none;
  border-radius: 8px;
}

.title-wrap {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
.title-wrap span {
  padding-bottom: 0.5rem;
  color: black;
  font-weight: var(--font-bold);
}
.title-wrap input {
  display: block;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  color: rgb(200, 199, 199);
  border: 1px solid var(--color-background);
  border-radius: 8px;
}

.content-wrap {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.content-wrap #content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
}

.content-btn-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: right;
  gap: 0.5rem;
  padding-bottom: 2rem;
}
.content-btn-wrap button {
  background: var(--color-background);
  width: 4rem;
  height: 2rem;
  border: none;
  border-radius: 8px;
}

input[type=date] {
  font-family: "Pretendard", sans-serif;
  font-size: var(--font-small-size);
  color: var(--color-background);
}

.hidden {
  display: none !important;
}

.choice {
  color: var(--font-basic-color);
}

@media screen and (max-width: 768px) {
  .basic-info-section {
    padding-top: 4rem;
  }
  .basic-info-wrap .type-detail, .basic-info-wrap .period-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .recruitment-info-wrap .recuritment-wrap, .recruitment-info-wrap .recruitment-count-detail-wrap {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 1rem !important;
  }
}