@charset "UTF-8";
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
:root {
  /* 색상코드 */
  --color-background: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;
  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;
  --font-default: 400;
  --font-bold: 700;
  --default-border: #26424a;
  --border-radius: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

head,
body {
  font-family: "Pretendard", "BMDOHYEON", sans-serif;
  background-color: var(--color-background);
  color: var(--font-basic-color);
}

.main {
  padding: 1.5rem 2rem;
}

.blind {
  position: absolute;
  top: -9999px;
}

a {
  text-decoration: none;
  color: inherit;
}

menu,
ol,
li {
  list-style: none;
}

/* button 커서 */
button {
  cursor: pointer;
}

/* img, video 정렬 크기 */
img,
video {
  max-width: 100%;
  vertical-align: middle;
}

/* input:focus 테두리 제거 */
input:focus,
a:focus {
  outline: none;
}