@charset "UTF-8";
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
:root {
  /* 색상코드 */
  --color-background: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;
  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;
  --font-default: 400;
  --font-bold: 700;
  --default-border: #26424a;
  --border-radius: 0.5rem;
}

/* main */
.contest-wrap {
  margin-top: 7rem;
}

.contest-content-wrap {
  margin: 0 auto;
}
.contest-content-wrap .title {
  padding-bottom: 2rem;
}
.contest-content-wrap .divider {
  margin: 0 20px 0 20px;
  background: rgb(221, 220, 220);
  height: 1px;
  border: 0;
}

.contest-filter-wrap {
  padding: 0.625rem 0;
  font-size: large;
  border-top: 1px solid var(--font-basic-color);
  border-bottom: 1px solid var(--font-basic-color);
  /* background-color: #ffb700; */
}

.filter-list-wrap {
  padding: 0.625rem 0;
  display: flex;
  /* background-color: #ff7575; */
}

.filter-text-wrap {
  display: inline-block;
  text-align: left;
  min-width: 100px;
  padding: 0.625rem 0;
  font-weight: 700;
  font-size: 1.25rem;
  /* background-color: #9679b3; */
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-item,
.search-filter-active {
  background-color: var(--color-background);
  padding: 0.25rem 0.5rem;
  height: auto;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  font-size: 1rem;
  color: #202020;
}

.btn-active,
.search-filter-active {
  background-color: var(--color-orange);
  color: white;
}

.active-filter-wrap {
  padding: 1rem 0;
}

.active-filter-wrap ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.filter-reset {
  width: 1.5rem;
  height: 1.5rem;
}

.search-drop-wrap {
  display: flex;
  padding: 1.5rem 0;
  /* background-color: #fdffca; */
  justify-content: space-between;
}
.search-drop-wrap label {
  display: none;
}

select {
  width: 100px;
  max-width: 25rem;
  height: 3rem;
  line-height: 2rem;
  padding: 0.5rem;
  border: 1px solid #c8c7c7;
  border-radius: 8px;
  font-size: 1rem;
}

.search-wrap {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.search-text {
  width: 60%;
  height: 3rem;
  padding: 15px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
}

.search-btn {
  width: auto;
  height: 3rem;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.img_banner {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.img_banner img {
  width: 100%;
}

/* contest item */
.contest-list-wrap {
  margin: 0 auto;
  padding: 2rem 0;
  /* background-color: #deedff; */
}

.contest-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.contest-grid contest-card {
  display: block;
  height: 100%;
  width: 100%;
}

/* page */
.page-num {
  display: flex;
  margin: 0 auto;
  width: 70%;
  max-width: 1400px;
  padding: 2rem;
}

.page-num ul {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  align-items: center;
}

.page-num ul i,
.page-num ul li {
  background-color: white;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
}
.page-num ul i span,
.page-num ul li span {
  font-size: 1rem;
  padding: 0.5rem;
}
.page-num ul i button,
.page-num ul li button {
  background-color: inherit;
}

.page-num ul .left-arrow {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../../assets/icons/iconmonstr-angel-left-thin.svg);
}

.page-num ul .right-arrow {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../../assets/icons/iconmonstr-angel-right-thin.svg);
  align-items: center;
}

@media screen and (max-width: 767px) {
  .contest-wrap {
    margin-top: 4rem;
  }
  .filter-list-wrap {
    flex-direction: column;
  }
  .contest-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .filter-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .filter-text-wrap {
    font-size: 16px;
  }
}