@charset "UTF-8";
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
:root {
  /* 색상코드 */
  --color-background: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;
  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;
  --font-default: 400;
  --font-bold: 700;
  --default-border: #26424a;
  --border-radius: 0.5rem;
}

.main {
  margin-top: 7rem;
}

.contest-top-wrap {
  padding: 1rem 0;
  margin: 0 auto;
}

.contest-center-wrap {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  flex-wrap: wrap;
}
.contest-center-wrap .info-item {
  width: 40%;
  padding: 10px 0;
}

.contest-text-wrap {
  display: flex;
  width: 50%;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type=text] {
  padding: 8px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contest-info-wrap {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 40%;
}

.supervisor {
  width: 100%;
}

#supervisor,
#host {
  width: 100%;
}

.toast {
  padding: 20px 0;
}

.contest-info-wrap input[type=text],
input[type=date],
select {
  height: 2rem;
  line-height: 2rem;
  padding-left: 5px;
  color: rgb(165, 165, 165);
  border: 1px solid rgb(200, 199, 199);
  border-radius: 8px;
}

select option {
  padding: 10px;
  color: rgb(164, 164, 164);
}

.register-btn-wrab {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}
.register-btn-wrab button {
  width: 4rem;
  height: 2rem;
  border: none;
  border-radius: 8px;
}
.register-btn-wrab .cancel-btn {
  background: #d5d5d5;
}
.register-btn-wrab .submit-btn {
  background: #9abbff;
}

.divider {
  margin: 10px 0;
  background: #e8e8e8;
  height: 2px;
  border: 0;
}

@media screen and (max-width: 767px) {
  .contest-info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .contest-info-wrap .info-item {
    width: 100%;
  }
  .contest-text-wrap {
    margin: 0 auto;
    width: 100%;
  }
  .contest-center-wrap {
    margin: 0 auto;
  }
}