@charset "UTF-8";
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
:root {
  /* 색상코드 */
  --color-background: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;
  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;
  --font-default: 400;
  --font-bold: 700;
  --default-border: #26424a;
  --border-radius: 0.5rem;
}

/* main */
.contest-detail-wrap {
  display: flex;
  margin: 0 auto;
}

.left-section {
  min-width: 970px;
}

.activity-detail-content {
  height: 500px;
}

.title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.info-wrap {
  height: 400px;
  display: flex;
  padding: 10px 20px;
  gap: 30px;
}
.info-wrap img {
  width: 200px;
  margin-top: 10px;
  object-fit: contain;
}

.info-left-wrap {
  padding: 20px;
}
.info-left-wrap h3 {
  padding: 10px 0px;
}

.activity-infomation-field {
  justify-content: center;
}
.activity-infomation-field dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-template-rows: repeat(2, 1fr);
}

.contest-apply-wrap {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.contest-bookmark {
  width: 20%;
  background-color: pink;
  border-radius: 10px;
}

.contest-apply-btn {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 120, 195);
  border-radius: 10px;
}
.contest-apply-btn a {
  font-size: 1.375rem;
  font-weight: 700;
  color: white;
}

.activity-detail-wrap {
  height: 1000px;
  padding: 20px;
  font-weight: 700;
}

.share-wrap {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.share-item {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: rgb(210, 228, 255);
}

.team-wrap {
  height: 300px;
}

.team {
  border: 1px solid rgb(218, 218, 218);
}

.right-section {
  display: flex;
  width: 100%;
}

.best-content-wrap {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 10px;
}
.best-content-wrap a {
  display: block;
  margin: 5px 0 5px;
}

.best-title {
  padding: 10px 10px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 30px 20px 0;
}

.divider {
  margin: 10px;
  background: rgb(221, 220, 220);
  height: 1px;
  border: 0;
}

.best-content {
  padding: 20px 20px 0;
}