@use "../../assets/fonts/font";
@use "../common/variables";
.contest-register {
  padding: 20px 20px;
}

.contest-form {
  padding: 20px 0px;
}

.contest-top-wrap {
  padding: 10px 0;
}

.contest-center-wrap {
  padding: 10px 0;
}

.contest-text-wrap {
  display: flex;
  width: 50%;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type='text'] {
  padding: 8px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contest-info-wrap {
  display: flex;
  gap: 20rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.contest-info-wrap input[type='text'],
input[type='date'],
select {
  width: 500px;
  max-width: 25rem;
  height: 2rem;
  line-height: 2rem;
  padding-left: 5px;
  color: #a5a5a5;
  border: 1px solid #c8c7c7;
  border-radius: 8px;
}

select option {
  padding: 10px;
  color: #a4a4a4;
}

.register-btn-wrab {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.register-btn-wrab button {
  width: 4rem;
  height: 2rem;
  border: none;
  border-radius: 8px;
}

.register-btn-wrab .cancel-btn {
  background: #d5d5d5;
}

.register-btn-wrab .submit-btn {
  background: #9abbff;
}

.divider {
  margin: 10px 0;
  background: #e8e8e8;
  height: 2px;
  border: 0;
}
