@charset "UTF-8";
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
:root {
  /* 색상코드 */
  --color-background: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;
  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;
  --font-default: 400;
  --font-bold: 700;
  --default-border: #26424a;
  --border-radius: 0.5rem;
}

:root {
  color: var(--font-basic-color);
  background: white;
}

header {
  width: 100%;
  box-shadow: 0 0 0.25rem 0 gray;
  background: rgba(255, 255, 255, 0.1);
  z-index: 9999;
  position: fixed;
  top: 0;
}
header .content-center {
  color: var(--font-basic-color);
  font-family: "Pretendard", sans-serif;
  max-width: 1400px;
  height: 100%;
  margin: auto;
  padding: 1.75rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content-center h1 {
  font-family: "BMDOHYEON", "Pretendard";
}
header .content-center h1:hover {
  color: var(--color-sky);
}
header #main-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
}
header #main-nav ul {
  display: flex;
  gap: 1.5rem;
  width: 60%;
}
header #main-nav ul li {
  width: 20%;
  display: flex;
  justify-content: center;
  font-size: var(--font-large-size);
}
header #main-nav ul li a {
  text-align: center;
  width: 100%;
}
header #main-nav ul li:hover {
  transform: scale(1.08);
  color: var(--color-orange);
}
header #auth-menu {
  width: 10%;
}
header #auth-menu ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
header #auth-menu ul li {
  color: gray;
  font-size: var(--font-small-size);
}
header #auth-menu ul li:hover {
  transform: scale(1.08);
  color: var(--color-orange);
}
header .mobile-button {
  cursor: pointer;
  display: none;
}
header .mobile-button .bar {
  display: block;
  position: relative;
  width: 2rem;
  height: 3px;
  margin: 0.4rem auto;
  border-radius: 10px;
  transition: 0.3s;
  background: var(--font-basic-color);
}
header .mobile-button.cross .bar:nth-of-type(1) {
  transform: translateY(0.5rem) rotate(-45deg);
}
header .mobile-button.cross .bar:nth-of-type(2) {
  opacity: 0;
}
header .mobile-button.cross .bar:nth-of-type(3) {
  transform: translateY(-0.5rem) rotate(45deg);
}
header #mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 70%;
  max-width: 300px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(120%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
  padding: 2rem 1rem;
}
header #mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
header #mobile-menu ul li {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-background);
}
header #mobile-menu ul li a {
  font-size: var(--font-large-size);
}
header #mobile-menu.active {
  transform: translateX(0);
}

.header-white {
  background-color: white;
}

@media screen and (max-width: 767px) {
  header .content-center {
    height: 60px;
  }
  header .logo {
    font-size: 1.7rem;
  }
  header #main-nav,
  header #auth-menu {
    display: none;
  }
  header .mobile-button,
  header #mobile-menu {
    display: block;
  }
}