@charset "UTF-8";
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
:root {
  /* 색상코드 */
  --color-background: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;
  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;
  --font-default: 400;
  --font-bold: 700;
  --default-border: #26424a;
  --border-radius: 0.5rem;
}

body {
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 240px;
  justify-content: center;
  align-items: center;
}
.main-wrap .main-banner {
  position: relative;
  width: 100%;
  margin-top: 95px;
}
.main-wrap .main-banner .image-slider {
  width: 100%;
}
.main-wrap .main-banner .image-slider .image-slide-list .image-slide {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrap .main-banner .image-slider .image-slide-list .image-slide div {
  width: 50%;
  height: 100%;
}
.main-wrap .main-banner .image-slider .image-slide-list .image-slide img {
  width: 100%;
}
.main-wrap .main-banner .image-slider .image-slide-list .main-img {
  background: white;
}
.main-wrap .main-banner .image-slider .image-slide-list .main-img img {
  width: 30rem;
}
.main-wrap .main-banner .image-slider .image-slide-list .first-img {
  background: #005eac;
}
.main-wrap .main-banner .image-slider .image-slide-list .first-img img {
  width: 40rem;
}
.main-wrap .main-banner .image-slider .image-slide-list .second-img {
  background: #1b1b1b;
}
.main-wrap .main-banner .image-slider .image-slide-list .second-img img {
  width: 30rem;
}
.main-wrap .main-banner .image-slider .image-slide-list .thrid-img {
  background: #3a5395;
}
.main-wrap .main-banner .image-slider .image-slide-list .thrid-img img {
  width: 35rem;
}
.main-wrap .main-banner .text-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-wrap .main-banner .text-slider .text-slide-list {
  width: 100%;
}
.main-wrap .main-banner .text-slider .text-slide-list .text-slide {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main-wrap .main-banner .text-slider .text-slide-list .text-slide.first-script > div {
  color: var(--font-basic-color);
}
.main-wrap .main-banner .text-slider .text-slide-list .text-slide .box-inner {
  width: 100%;
  padding: 0 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  color: white;
}
.main-wrap .main-banner .text-slider .text-slide-list .text-slide .box-inner .main-script {
  font-size: 3.5rem;
  font-weight: 600;
}
.main-wrap .main-banner .text-slider .text-slide-list .text-slide .box-inner .summary-script {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: calc(40% - 30px);
  height: 50px;
  font-size: var(--font-small-size);
  font-weight: var(--font-default);
}
.main-wrap .main-banner .text-slider .text-slide-list .text-slide .box-inner a {
  text-decoration: underline;
}
.main-wrap .main-banner .text-slider .swiper-button-next,
.main-wrap .main-banner .text-slider .swiper-button-prev {
  transition: color 0.3s ease;
  z-index: 2;
}
.main-wrap .main-banner .text-slider .swiper-button-next.white,
.main-wrap .main-banner .text-slider .swiper-button-prev.white {
  color: white;
}
.main-wrap .main-banner .text-slider .swiper-button-next.black,
.main-wrap .main-banner .text-slider .swiper-button-prev.black {
  color: var(--font-basic-color);
}
.main-wrap .main-banner .text-slider .swiper-progressbar {
  top: auto !important;
  bottom: 0 !important;
  position: absolute;
  z-index: 2;
}
.main-wrap .main-banner .text-slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--font-basic-color);
}
.main-wrap .main-banner .text-slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill.white {
  background: white;
}
.main-wrap .main-banner .text-slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill.black {
  background: var(--font-basic-color);
}
.main-wrap .main-contents {
  background: rgb(210, 255, 192);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-wrap .main-contents .section .section-list {
  background: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  overflow: hidden;
}
.main-wrap .main-contents .section .section-list .section-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--font-basic-color);
  color: white;
}
.main-wrap .main-contents .section .section-list .section-intro h2 {
  color: var(--color-sky);
  font-weight: var(--font-xlarge-size);
  font-size: var(--font-xlarge-size);
}
.main-wrap .main-contents .section .section-list .section-intro .section-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main-wrap .main-contents .section .section-list .section-intro .section-btn li {
  display: flex;
}
.main-wrap .main-contents .section .section-list .section-intro .section-btn li .swiper-button-next,
.main-wrap .main-contents .section .section-list .section-intro .section-btn li .swiper-button-prev {
  width: 4rem;
  position: relative;
  color: white;
}

@media screen and (max-width: 767px) {
  .main-wrap .main-banner {
    margin-top: 6rem;
  }
  .main-wrap .main-banner .image-slider .image-slide-list .image-slide {
    align-items: flex-start;
  }
  .main-wrap .main-banner .text-slider {
    top: auto;
    bottom: 0;
  }
  .main-wrap .main-banner .text-slider .text-slide-list .text-slide .box-inner {
    bottom: 25%;
    position: absolute;
    align-items: flex-start;
  }
  .main-wrap .main-banner .text-slider .text-slide-list .text-slide .box-inner .main-script {
    font-size: var(--font-xlarge-size);
    font-weight: 600;
  }
  .main-wrap .main-banner .text-slider .text-slide-list .text-slide .box-inner .summary-script {
    display: none;
  }
  .main-wrap .main-banner .swiper-button-next,
  .main-wrap .main-banner .swiper-button-prev,
  .main-wrap .main-banner .swiper-pagination-progressbar {
    display: none;
  }
}