@charset "UTF-8";
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
:root {
  /* 색상코드 */
  --color-background: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;
  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;
  --font-default: 400;
  --font-bold: 700;
  --default-border: #26424a;
  --border-radius: 0.5rem;
}

body {
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 480px;
  justify-content: center;
  align-items: center;
}
.main-wrap .main-banner {
  position: relative;
  width: 100%;
}
.main-wrap .main-banner .image-slider {
  width: 100%;
}
.main-wrap .main-banner .image-slider .image-slide-list .image-slide {
  height: 700px;
  padding: 4rem 4rem 0 4rem;
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: flex-end; /* 아래 정렬 */
}
.main-wrap .main-banner .image-slider .image-slide-list .image-slide img {
  width: 25rem;
}
.main-wrap .main-banner .image-slider .image-slide-list .first-img {
  background: linear-gradient(to bottom, transparent, white 30%, white 100%);
}
.main-wrap .main-banner .image-slider .image-slide-list .second-img {
  background: linear-gradient(to bottom, transparent, pink 30%, pink 100%);
}
.main-wrap .main-banner .image-slider .image-slide-list .thrid-img {
  background: linear-gradient(to bottom, transparent, #fff2ee 30%, #fff2ee 100%);
}
.main-wrap .main-banner .text-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrap .main-banner .text-slider .text-slide-list > .text-slide > .box_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 20rem;
  gap: 1rem;
}
.main-wrap .main-banner .text-slider .text-slide-list > .text-slide > .box_inner .duration {
  color: gray;
}
.main-wrap .main-banner .text-slider .text-slide-list > .text-slide > .box_inner .main-script {
  font-size: var(--font-xlarge-size);
}
.main-wrap .main-banner .text-slider .text-slide-list > .text-slide > .box_inner a {
  color: gray;
  text-decoration: underline;
}
.main-wrap .main-banner .text-slider .swiper-button-next,
.main-wrap .main-banner .text-slider .swiper-button-prev {
  color: var(--font-basic-color);
  z-index: 2;
}
.main-wrap .main-banner .text-slider .swiper-progressbar {
  top: auto !important;
  bottom: 0 !important;
  position: absolute;
  z-index: 2;
}
.main-wrap .main-banner .text-slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--font-basic-color);
}
.main-wrap .main-contents .section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrap .main-contents .section .section-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.main-wrap .main-contents .section .section-list .section-slide {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}
.main-wrap .main-contents .section .section-list .section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  width: 14em;
  height: 14rem;
  background: var(--font-basic-color);
  color: white;
}
.main-wrap .main-contents .section .section-list .section-intro > div h2 {
  color: var(--color-sky);
  font-weight: var(--font-xlarge-size);
  font-size: var(--font-xlarge-size);
  margin-bottom: 1rem;
}
.main-wrap .main-contents .section .section-list .section-intro > div p {
  font-size: var(--font-large-size);
}
.main-wrap .main-contents .section .section-list .section-intro .section-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main-wrap .main-contents .section .section-list .section-intro .section-btn li {
  display: flex;
}
.main-wrap .main-contents .section .section-list .section-intro .section-btn li .swiper-button-next,
.main-wrap .main-contents .section .section-list .section-intro .section-btn li .swiper-button-prev {
  position: relative;
  color: white;
}
.main-wrap .main-contents .policy-section.section .section-list .policy-intro {
  order: 1;
}
.main-wrap .main-contents .policy-section.section .section-list .section-slide {
  order: 0;
}