@charset "UTF-8";
:root {
  /* 색상코드 */
  --color-background: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;
  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;
  --font-default: 400;
  --font-bold: 700;
  --default-border: #26424a;
  --border-radius: 0.5rem;
}

@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

head,
body {
  font-family: "Pretendard", "BMDOHYEON", sans-serif;
  background-color: white;
  color: var(--font-basic-color);
}

.wrap {
  max-width: 1400px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

.blind {
  position: absolute;
  top: -9999px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

menu,
ol,
li {
  list-style: none;
}

/* button 커서 */
button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

/* img, video 정렬 크기 */
img,
video {
  max-width: 100%;
  vertical-align: middle;
}

/* input:focus 테두리 제거 */
input:focus,
a:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
#policy-container {
  margin-top: 3rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
}

#policy-container .title {
  padding: 2rem 0;
}

#policy-container .divider {
  margin: 0 20px 0 20px;
  background: rgb(221, 220, 220);
  height: 1px;
  border: 0;
}

#policy-content-container {
  margin-bottom: 5rem;
}

.card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.content-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 150px;
  min-height: 150px;
  max-height: 200px;
  padding: 1rem;
  border: 1px solid var(--font-basic-color);
  border-radius: var(--border-radius);
}
.content-card .tag {
  display: flex;
  gap: 0.5rem;
}
.content-card span {
  display: block;
  min-width: 50px;
  padding: 3px 5px;
  border-radius: var(--border-radius);
  background: var(--font-basic-color);
  color: white;
  text-align: center;
}
.content-card .region {
  background: var(--color-orange);
}
.content-card .content {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid var(--color-background);
}
.content-card .content h3,
.content-card .content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.policy-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy-pagination {
  min-width: 300px;
  height: 50px;
}
.policy-pagination button {
  width: 30px;
  height: 30px;
  background: none;
}