@charset "UTF-8";
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
:root {
  /* 색상코드 */
  --color-background: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;
  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;
  --font-default: 400;
  --font-bold: 700;
  --default-border: #26424a;
  --border-radius: 0.5rem;
}

.filter-section {
  margin-top: 7rem;
}

.filter-wrap {
  width: 70%;
  max-width: 1400px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-background);
  background-color: white;
  z-index: 10;
}
.filter-wrap ul {
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}
.filter-wrap ul li a {
  width: auto;
  height: auto;
  border: none;
  border-radius: 16px;
  padding: 5px 10px 5px 10px;
  background-color: var(--color-background);
  font-size: var(--font-small-size);
}
.filter-wrap ul i {
  display: block;
  background-position: center; /* 배경 이미지 중앙 정렬 */
  background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
  background-image: url(../../assets/icons/iconmonstr-reload-lined.svg);
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}
.filter-wrap div {
  padding: 10px;
  position: relative;
}
.filter-wrap div input {
  display: flex;
  margin: 0 auto;
  height: 45px;
  width: 60%;
  border: none;
  border-radius: 8px;
  background: var(--color-background);
  padding: 10px 20px;
  position: relative;
}
.filter-wrap div i {
  position: absolute;
  display: block;
  background-position: center; /* 배경 이미지 중앙 정렬 */
  background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
  background-image: url(../../assets/icons/iconmonstr-magnifier-lined.svg);
  width: 1.4rem;
  height: 1.4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%; /* 세로 중앙에서 시작 */
  right: calc(20% + 1.5rem); /* 오른쪽 여백 조정 */
  transform: translateY(-50%); /* 정확한 세로 중앙 정렬 */
}

.division-wrap {
  width: 70%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 0 auto;
}
.division-wrap ul {
  display: flex;
  gap: 15px;
  padding: 15px;
}
.division-wrap ul li a {
  font: var(--font-bold);
  font-size: var(--font-large-size);
}
.division-wrap ul li a .card-icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/iconmonstr-layout-table-lined.svg);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.division-wrap ul li a .list-icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/iconmonstr-list-lined.svg);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.content-list {
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
}

.content-wrap {
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  gap: 10px;
  width: 100%;
  max-width: 1400px;
  border-radius: 8px;
  border: 0.5px solid var(--color-background);
  margin: 0 auto 0.4rem;
  background-color: white;
}
.content-wrap .content-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}
.content-wrap .content-header .left-group, .content-wrap .content-header .right-group {
  display: flex;
  gap: 20px;
}
.content-wrap .content-header .left-group .title {
  font: var(--font-bold);
  font-size: var(--font-large-size);
}
.content-wrap .content-header .left-group .field {
  font-size: var(--font-small-size);
  border: none;
  border-radius: 8px;
  background-color: var(--default-border);
  color: var(--color-background);
  padding: 2px 10px 2px 10px;
}
.content-wrap .content-header .right-group .type {
  font-size: var(--font-small-size);
  border: none;
  border-radius: 8px;
  background-color: var(--color-background);
  color: var(--default-border);
  padding: 2px 10px 2px 10px;
}
.content-wrap .content-header .right-group .d-day {
  font-size: var(--font-small-size);
  border: none;
  border-radius: 8px;
  background-color: var(--color-orange);
  color: var(--color-background);
  padding: 2px 10px 2px 10px;
}
.content-wrap .content-summary {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small-size);
  padding: 0 1rem 0.5rem 1rem;
  color: rgb(200, 199, 199);
}
.content-wrap .content-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0.5rem 1rem;
  font-size: var(--font-small-size);
}
.content-wrap .content-footer .left-group, .content-wrap .content-footer .right-group {
  display: flex;
  gap: 20px;
}
.content-wrap .content-footer .left-group .writer, .content-wrap .content-footer .right-group .writer {
  color: rgb(200, 199, 199);
}
.content-wrap .content-footer .right-group .comment {
  display: flex;
  gap: 5px;
}
.content-wrap .content-footer .right-group .comment i {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/icons/iconmonstr-speech-bubble-comment-thin.svg);
  width: 1rem;
  height: 1rem;
}
.content-wrap .content-footer .right-group .scrap {
  display: flex;
  gap: 5px;
}
.content-wrap .content-footer .right-group .scrap i {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/iconmonstr-heart-lined.svg);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.page-num {
  display: flex;
  margin: 0 auto;
  width: 70%;
  max-width: 1400px;
}
.page-num ul {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.page-num ul i, .page-num ul li {
  background-color: white;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-background);
  text-align: center;
  line-height: 2rem;
  margin-bottom: 40px;
  cursor: pointer;
}
.page-num ul .left-arrow {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../../assets/icons/iconmonstr-angel-left-thin.svg);
  cursor: pointer;
}
.page-num ul .right-arrow {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../../assets/icons/iconmonstr-angel-right-thin.svg);
  align-items: center;
  cursor: pointer;
}

.write-btn {
  width: 4vw;
  height: 4vw;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--color-orange);
  background-image: url(../../assets/icons/iconizer-iconmonstr-pencil-lined.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border: none;
  border-radius: 8rem;
  z-index: 1000;
  cursor: pointer;
}

.btn-active {
  background-color: var(--color-orange) !important;
  color: white;
}

.search-filter-active {
  background-color: var(--color-orange) !important;
  color: white;
  font-size: var(--font-small-size);
}

.scrap-active {
  background-image: url(../../assets/icons/iconizer-iconmonstr-heart-filled.svg) !important;
  background-size: contain; /* 추가 */
}/*# sourceMappingURL=post-list.css.map */