.top-btn {
  width: 4rem;
  height: 4rem;
  background: var(--color-orange) url(../../assets/icons/iconmonstr-arrow-66-240.png) center no-repeat;
  background-size: 60%;
  color: var(--color-background);
  position: fixed;
  border-radius: 8rem;
  z-index: 1000;
  bottom: 5rem;
  right: 3rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .top-btn {
    width: 3.5rem;
    height: 3.5rem;
  }
}