@use '../../assets/fonts/font';
@use '../common/variables';

body {
  flex-direction: column;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100vw;
  max-width: 1400px;
  min-width: 480px;

  justify-content: center;
  align-items: center;

  .main-section {
    position: relative;
    width: 100%;

    ul > li > a > img {
      width: 100%;
    }
  }

  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    .section-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      flex-wrap: wrap;

      .section-slide {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        flex-wrap: wrap;
      }
      .section-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 2rem;
        width: 14em;
        height: 14rem;
        background: var(--font-basic-color);
        color: white;
        > div {
          h2 {
            color: var(--color-sky);
            font-weight: var(--font-xlarge-size);
            font-size: var(--font-xlarge-size);
            margin-bottom: 1rem;
          }
          p {
            font-size: var(--font-large-size);
          }
        }
        .section-btn {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          li {
            display: flex;
            .swiper-button-next,
            .swiper-button-prev {
              position: relative;
              color: white;
            }
          }
        }
      }
    }

    //   .swiper-wrapper {
    //     width: 80% !important;
    //     right: 0;

    //     overflow: hidden;
    //     > .swiper-slide {
    //       width: 200px;
    //     }

    //     > li {
    //       width: 240px !important;
    //     }
    //   }
  }

  .policy-section.section {
    .section-list {
      .policy-intro {
        order: 1;
      }

      .section-slide {
        order: 0;
      }
    }
  }

  .swiper-progressbar {
    top: auto !important;
    bottom: 0 !important;
    position: absolute;
    z-index: 100;
    background: none;
  }
}
