@use "../../assets/fonts/font";
@use "../common/variables";

:root {
  color: var(--font-basic-color);
  background: white;
}

header {
  width: 100%;
  box-shadow: 0 0 0.25rem 0 gray;
  background: rgba(255, 255, 255, 0.1);
  z-index: 9999;

  position: fixed;
  top: 0;

  .content-center {
    color: var(--font-basic-color);

    font-family: "Pretendard", sans-serif;
    max-width: 1400px;

    height: 100%;
    margin: auto;
    // 위, 오른쪽, 아래, 왼쪽
    padding: 1.75rem 2rem;

    display: flex;

    justify-content: space-between;
    align-items: center;

    h1 {
      // 폰트적용
      font-family: "BMDOHYEON", "Pretendard";
    }
    h1:hover {
      color: var(--color-sky);
    }
  }

  // 메인메뉴
  #main-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
    ul {
      display: flex;
      gap: 1.5rem;
      width: 60%;
      li {
        width: 20%;
        display: flex;
        justify-content: center;
        font-size: var(--font-large-size);
        a {
          text-align: center;
          width: 100%;
        }
      }
      li:hover {
        transform: scale(1.08);
        color: var(--color-orange);
      }
    }
  }

  // 사용자 메뉴
  #auth-menu {
    width: 10%;
    ul {
      display: flex;
      justify-content: center;
      gap: 1.5rem;

      li {
        color: gray;
        font-size: var(--font-small-size);
      }
      li:hover {
        transform: scale(1.08);
        color: var(--color-orange);
      }
    }
  }

  .mobile-button {
    cursor: pointer;
    display: none;
    .bar {
      display: block;
      position: relative;
      width: 2rem;
      height: 3px;
      margin: 0.4rem auto;
      border-radius: 10px;
      transition: 0.3s;
      background: var(--font-basic-color);
    }

    &.cross .bar:nth-of-type(1) {
      transform: translateY(0.5rem) rotate(-45deg);
    }

    &.cross .bar:nth-of-type(2) {
      opacity: 0;
    }

    &.cross .bar:nth-of-type(3) {
      transform: translateY(-0.5rem) rotate(45deg);
    }
  }

  #mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(120%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
    padding: 2rem 1rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      li {
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--color-background);
        a {
          font-size: var(--font-large-size);
        }
      }
    }
  }
  // 활성화될 때
  #mobile-menu.active {
    transform: translateX(0);
  }
}

.header-white {
  background-color: white;
}

// 반응형
@media screen and (max-width: 767px) {
  header {
    .content-center {
      height: 60px;
    }
    .logo {
      font-size: 1.7rem;
    }
    #main-nav,
    #auth-menu {
      display: none;
    }
    .mobile-button,
    #mobile-menu {
      display: block;
    }
  }
}
