@use '../../assets/fonts/font';
@use '../common/variables';

:root {
  color: var(--font-basic-color);
  background: white;
}

header {
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 0 0.25rem 0 gray;
  background: rgba(255, 255, 255, 0.1);
  z-index: 9999;
  min-width: 240px;
  position: fixed;
  top: 0;

  .content-center {
    color: var(--font-basic-color);

    font-family: 'Pretendard', sans-serif;
    max-width: 1400px;

    height: 50px;
    margin: auto;
    // 위, 오른쪽, 아래, 왼쪽
    padding: 3rem 2rem 3rem 2rem;

    display: flex;

    justify-content: space-between;
    align-items: center;

    h1 {
      // 폰트적용
      font-family: 'BMDOHYEON', 'Pretendard';
    }
  }

  // 메인메뉴
  #main-nav {
    ul {
      display: flex;
      gap: 1.5rem;

      li {
        a {
          // 글자크기
          font-size: var(--font-large-size);
        }
      }
    }
  }

  // 사용자 메뉴
  #auth-menu {
    ul {
      display: flex;
      gap: 1.5rem;
      li {
        a {
          font-size: var(--font-small-size);
          color: gray;
        }
      }
    }
  }

  .mobile-button {
    cursor: pointer;
    display: none;
    .bar {
      display: block;
      position: relative;
      width: 2rem;
      height: 0.313rem;
      margin: 0.625rem auto;
      border-radius: 10px;
      transition: 0.3s;
      background: var(--font-basic-color);
    }

    &.cross .bar:nth-of-type(1) {
      transform: translateY(0.825rem) rotate(-45deg);
    }

    &.cross .bar:nth-of-type(2) {
      opacity: 0;
    }

    &.cross .bar:nth-of-type(3) {
      transform: translateY(-1.025rem) rotate(45deg);
    }
  }

  #mobile-menu {
    display: none;
  }
}

.header-white {
  background-color: white;
}

// 반응형
@media screen and (max-width: 767px) {
  header {
    #main-nav,
    #auth-menu {
      display: none;
    }
    .mobile-button {
      display: block;
    }
  }
}
