@use "../../assets/fonts/font";
@use "../common/variables";

// filter-section
.filter-section {
  margin-top: 7rem;
}

.filter-wrap {
  width: 100%;
  max-width: 1400px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-background);
  background-color: white;
  z-index: 10;

  ul {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;

    li {
      a {
        width: auto;
        height: auto;
        border: none;
        border-radius: 16px;
        padding: 5px 10px 5px 10px;
        background-color: var(--color-background);
        font-size: var(--font-small-size);
      }
    }
    i {
      display: block;
      background-position: center; /* 배경 이미지 중앙 정렬 */
      background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
      background-image: url(../../assets/icons/iconmonstr-reload-lined.svg);
      width: 1.2rem;
      height: 1.2rem;
      cursor: pointer;
    }
  }

  div {
    padding: 10px;
    position: relative;

    input {
      display: flex;
      margin: 0 auto;
      height: 45px;
      width: 60%;
      border: none;
      border-radius: 8px;
      background: var(--color-background);
      padding: 10px 20px;
      position: relative;
    }
    i {
      position: absolute;
      display: block;
      background-position: center; /* 배경 이미지 중앙 정렬 */
      background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
      background-image: url(../../assets/icons/iconmonstr-magnifier-lined.svg);
      width: 1.4rem;
      height: 1.4rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      // 위치 조정
      top: 50%; /* 세로 중앙에서 시작 */
      right: calc(20% + 1.5rem); /* 오른쪽 여백 조정 */
      transform: translateY(-50%); /* 정확한 세로 중앙 정렬 */
    }
  }
}

// division section
.division-wrap {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 0 auto;

  ul {
    display: flex;
    gap: 15px;
    padding: 15px;
    li {
      a {
        font: var(--font-bold);
        font-size: var(--font-large-size);
        .card-icon {
          display: block;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../../assets/icons/iconmonstr-layout-table-lined.svg);
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
        }
        .list-icon {
          display: block;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../../assets/icons/iconmonstr-list-lined.svg);
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
        }
      }
    }
  }
}

// content-section
.content-list {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.25rem;

  justify-content: flex-start;
}

.card-content-link{
    cursor: pointer;
    width: 100%;
    flex: 0 1 calc(25% - 16px);
    max-width: calc(25% - 16px);
    
    border-radius: 8px;
    border: 0.5px solid var(--color-background);
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
  
  .content-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .content-header {
      display: flex;
      flex-wrap: wrap;

      .field {
        font-size: var(--font-small-size);
        border: none;
        border-radius: var(--border-radius);
        text-align: center;
        background-color: var(--default-border);
        color: var(--color-background);
        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        margin-right: 0.5rem;
        white-space: nowrap; /* 줄바꿈 안 함 */
        overflow: hidden; /* 넘친 부분 숨김 */
        text-overflow: ellipsis; /* ... 처리 */
      }
      .type {
        display: flex;
        justify-content: flex-end;
        font-size: var(--font-small-size);
        border: none;
        border-radius: var(--border-radius);
        background-color: var(--color-background);
        color: var(--default-border);
        text-align: center;
        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        margin-right: 0.2rem;
        white-space: nowrap; /* 줄바꿈 안 함 */
        overflow: hidden; /* 넘친 부분 숨김 */
        text-overflow: ellipsis; /* ... 처리 */
      }
      .d-day {
        font-size: var(--font-small-size);
        border: none;
        border-radius: var(--border-radius);
        background-color: var(--color-orange);
        color: var(--color-background);
        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .content-title {
      .title {
        font-size: var(--font-middle-size);
        font-weight: var(--font-bold);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .content-summary {
      p {
        font-size: var(--font-small-size);
        color: var(--font-basic-color);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .content-footer {
      width: 100%;
      display: flex;
      border-top: 1px solid var(--default-border);
      padding-top: 0.5rem;

      .left-group,
      .right-group {
        display: flex;
        flex-wrap: wrap;

        width: 50%;
        font-size: var(--font-small-size);
      }

      .right-group {
        display: flex;
        justify-content: right;
        gap: 0.5rem;
      }

      .comment {
        display: flex;
        justify-content: right;
        gap: 5px;
        i {
          display: block;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url(../../assets/icons/iconmonstr-speech-bubble-comment-thin.svg);
          width: 1rem;
          height: 1rem;
        }
      }

      .scrap {
        display: flex;
        gap: 5px;
        i {
          display: block;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../../assets/icons/iconmonstr-heart-lined.svg);
          width: 1rem;
          height: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

// 글작성 버튼
.write-btn {
  width: 4vw;
  height: 4vw;

  position: fixed;

  bottom: 2rem;
  right: 2rem;

  background-color: var(--color-orange);
  background-image: url(../../assets/icons/iconizer-iconmonstr-pencil-lined.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;

  border: none;
  border-radius: 8rem;

  z-index: 1000;

  cursor: pointer;
}

// 필터 클릭시 강조
.btn-active {
  background-color: var(--color-orange) !important;
  color: white;
}

// 필터 클릭시 추가되는 디자인
.search-filter-active {
  background-color: var(--color-orange) !important;
  color: white;
  font-size: var(--font-small-size);
}

// 스크랩 버튼
.scrap-active {
  background-image: url(../../assets/icons/iconizer-iconmonstr-heart-filled.svg) !important;
  background-size: contain; /* 추가 */
}
