@use '../../assets/fonts/font';
@use '../common/variables';

.contest-register-container {
  // background-color: rgb(255, 238, 241);
}

.contest-register {
  // padding: 20px 20px;
}

.contest-form {
  // padding: 20px 0px;
}

.contest-top-wrap {
  padding: 10px 2rem;
  margin: 0 auto;
}

.contest-center-wrap {
  display: flex;
  flex-direction: column;
  padding: 10px 2rem;
  flex-wrap: wrap;
  .info-item {
    width: 50%;
    padding: 10px 0;
  }
}

.contest-text-wrap {
  display: flex;
  width: 50%;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type='text'] {
  padding: 8px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contest-info-wrap {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.supervisor {
  width: 100%;
}

#supervisor,
#host {
  width: 100%;
}

.toast {
  padding: 20px 0;
}

.contest-info-wrap input[type='text'],
input[type='date'],
select {
  width: 500px;
  max-width: 25rem;
  height: 2rem;
  line-height: 2rem;
  padding-left: 5px;
  color: rgb(165, 165, 165);
  border: 1px solid rgb(200, 199, 199);
  border-radius: 8px;
}

select option {
  padding: 10px;
  color: rgb(164, 164, 164);
}

.register-btn-wrab {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  button {
    width: 4rem;
    height: 2rem;
    border: none;
    border-radius: 8px;
  }
  .cancel-btn {
    background: #d5d5d5;
  }
  .submit-btn {
    background: #9abbff;
  }
}

.divider {
  margin: 10px 0;
  background: #e8e8e8;
  height: 2px;
  border: 0;
}

@media screen and (max-width: 767px) {
  .contest-info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  h3 {
    text-align: center;
  }

  .contest-text-wrap {
    margin: 0 auto;
  }

  .contest-center-wrap {
    margin: 0 auto;
  }
}
