@use "../../assets/fonts/font";
@use "../common/variables";

/* main */
.contest-wrap {
  // height: 1800px;
  margin-top: 5rem;
  /* background-color: #ffdada; */
}

.contest-content-wrap {
  // padding: 20px;
  margin: 0 auto;
  /* margin-top: 100px; */
  /* border-color: #0044ff; */
  .title {
    padding: 2rem 0;
  }
  .divider {
    margin: 0 20px 0 20px;
    background: rgb(221, 220, 220);
    height: 1px;
    border: 0;
  }
}

.contest-filter-wrap {
  padding: 0.625rem 0;
  font-size: large;
  /* background-color: #ffb700; */
}

.filter-list-wrap {
  padding: 0.625rem 0;
  display: flex;
  align-items: center;
  /* background-color: #ff7575; */
}

.filter-text-wrap {
  display: inline-block;
  text-align: left;
  min-width: 100px;
  padding: 0.625rem 0;
  font-weight: 700;
  /* background-color: #9679b3; */
}

.filter-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.filter-item {
  padding: 8px 15px 8px 15px;
  min-width: 100px;
  height: auto;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 1rem;
  background-color: #fff;
  color: #202020;
}

.btn-active {
  background-color: var(--color-orange);
  padding: 8px 15px 8px 15px;
  min-width: 100px;
  height: auto;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 1rem;
  background-color: #fff;
  color: #202020;
}

.active-filter-wrap {
  padding: 25px;
  /* background-color: #d4d4ff; */
}

.search-drop-wrap {
  display: flex;
  padding: 1.5rem 0;
  /* background-color: #fdffca; */
  justify-content: space-between;
  label {
    display: none;
  }
}

select {
  width: 100px;
  max-width: 25rem;
  height: 3rem;
  line-height: 2rem;
  padding: 0.5rem;
  // color: #535353;
  border: 1px solid #c8c7c7;
  border-radius: 8px;
  font-size: 1rem;
}

.search-wrap {
  display: flex;
  gap: 1rem;
}

.search-text {
  width: 40rem;
  height: 3rem;
  padding: 15px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
}

.search-btn {
  width: auto;
  height: 3rem;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.img_banner {
  //   display: flex;
  //   padding: 1rem 0;
  //   /* background-color: #c7ffee; */
  //   justify-content: center;
  img {
    width: 100%;
  }
}

/* contest item */
.contest-list-wrap {
  margin: 0 auto;
  padding: 2rem 0;
  /* background-color: #deedff; */
}

.contest-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  // padding: 30px;
  contest-card {
    display: block;
    height: 100%;
    width: 100%;
  }
}

/* page */

.page-num {
  display: flex;
  margin: 0 auto;
  width: 70%;
  max-width: 1400px;
}

.page-num ul {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.page-num ul i,
.page-num ul li {
  background-color: white;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-background);
  text-align: center;
  line-height: 2rem;
  margin-bottom: 40px;
}

.page-num ul .left-arrow {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../../assets/icons/iconmonstr-angel-left-thin.svg);
}

.page-num ul .right-arrow {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../../assets/icons/iconmonstr-angel-right-thin.svg);
  align-items: center;
}
