@use "../../assets/fonts/font";
@use "../common/variables";

/* main */
main {
  margin-top: 7rem;
}

.contest-detail-wrap {
  display: flex;
  margin: 0 auto;
}

.title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-wrap .title-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.title-wrap .title-left > strong {
  background-color: var(--color-orange);
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: var(--border-radius);
}

.info-wrap {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

.info-wrap .info-right-wrap {
  width: 20%;
}

.contest-image {
  max-height: 20rem;
  overflow: hidden;
}

.info-wrap img {
  // width: 50%;
  // margin-top: 10px;
  object-fit: contain;
}

.info-left-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.info-left-wrap h3 {
  padding: 10px 0px;
}

.activity-infomation-field {
  justify-content: center;
}

.activity-infomation-field dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  grid-template-rows: repeat(2, 1fr);
}

.contest-apply-wrap {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.contest-bookmark {
  width: 20%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  img {
    height: 2rem;
  }
}

.contest-apply-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--font-basic-color);
  border-radius: 10px;
}

.contest-apply-btn a {
  font-size: 1.375rem;
  font-weight: 700;
  color: white;
}

.activity-detail-wrap {
  padding: 1.5rem 0;
  font-weight: 700;
  min-height: 25rem;
}

.detail-title {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.share-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
}

.share-item {
  width: 20%;
  height: 50px;
  border-radius: 10px;
  // background-color: var(--color-sky);
}

.team-wrap {
  min-height: 300px;
}

.team {
  padding: 1rem 0;
}

.right-section {
  display: flex;
  width: 100%;
}

.best-content-wrap {
  width: 90%;
  margin: 0 auto;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 10px;
}

.best-content-wrap a {
  display: block;
  margin: 5px 0 5px;
}

.best-title {
  padding: 10px 10px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 30px 20px 0;
}

.best-content {
  padding: 20px 20px 0;
}

@media screen and (max-width: 767px) {
  main {
    margin-top: 4rem;
  }
  .info-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-wrap .info-right-wrap,
  .left-section {
    width: 100%;
  }
  .info-left-wrap {
    width: 100%;
    padding: 20px 0;
  }
  .activity-infomation-field {
    width: 100%;
  }
  .activity-infomation-field dl {
    grid-template-columns: 1fr 2fr;
  }
  .activity-infomation-field dl dt {
    font-weight: var(--font-bold);
  }
  .filter-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contest-image {
    overflow: hidden;
  }
}
