:root {
  /* 색상코드 */
  --color-backgrounfd: #f0f0f0;
  --color-sky: #a4d7ee;
  --color-ivory: #f9e3a3;
  --color-orange: #fc8d09;

  /* 폰트 */
  --font-basic-color: #26424a;
  --font-small-size: 0.875rem;
  --font-middle-size: 1rem;
  --font-large-size: 1.125rem;
  --font-xlarge-size: 2rem;

  --font-default: 400;
  --font-bold: 700;

  --default-border: #26424a;
  --border-radius: 0.5rem;
}
