@use "../../assets/fonts/font";
@use "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

head,
body {
  font-family: "Pretendard", "BMDOHYEON", sans-serif;
  // background-color: var(--color-background);
  // background-color: #f6f6f6f6;
  background-color: white;
  color: var(--font-basic-color);
}

.main {
}

.wrap {
  max-width: 1400px;
  padding: 1.5rem 2rem;
  margin: 0 auto;
}

.blind {
  position: absolute;
  top: -9999px;
}

// a 밑줄제거
// 색 부모 상속
a {
  text-decoration: none;
  color: inherit;
}

// li 장식 제거
menu,
ol,
li {
  list-style: none;
}

/* button 커서 */
button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

/* img, video 정렬 크기 */
img,
video {
  max-width: 100%;
  vertical-align: middle;
}
/* input:focus 테두리 제거 */
input:focus,
a:focus {
  outline: none;
}

// 모바일 폰트 조정
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
