@use "../assets/fonts/font";
@use "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

head,
body {
  font-family: "Pretendard", "BMDOHYEON", sans-serif;
  background-color: var(--color-backgrounfd);
  color: var(--font-basic-color);
}

.main {
  padding: 1.5rem 2rem;
}

// a 밑줄제거
a{
  text-decoration: none;
}

// li 장식 제거
menu, ol, li{
  list-style: none;
}

