
@use "../assets/fonts/font";
@use "./variables";

:root{
    color: var(--font-basic-color);
    background: white;
}
// header
header{
    box-shadow: 0 0 2rem 0 gray;
    .content-center{
        color: var(--font-basic-color);

        background: white;
        font-family: "Pretendard", sans-serif;


        width: 100%;
        height: 50px;
        margin: auto;
        // 위, 오른쪽, 아래, 왼쪽
        padding: 3rem 2rem 3rem 2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            // 폰트적용
            font-family: "BMDOHYEON", "Pretendard";
        }
    }
    

    // 메인메뉴
    #main-nav{
        ul{
            display: flex;
            gap: 40px;

            li{
                a{
                    // 글자크기
                    font-size: var(--font-large-size);
                }
            }
        }
        
    }

    // 사용자 메뉴
    #auth-menu{
        ul{
            display: flex;
            gap: 20px;
            li{
                a{
                    font-size: var(--font-small-size);
                    color: gray;
                }
            }
        }
        
    }



}

// 반응형
